<template>
  <div class="container background">
    <form @submit.prevent="predictLaptopPrice" class="form">
      <h1 class="header-text"> LAPTOP PRICE PREDICTOR</h1>
      <table>
        <tr class="tr">
          <td>
            <label for="companyname">Company Name:</label>
          </td>
          <td>

            <select id="company-name" v-model="laptopData.CompanyName" class="color">
              <option value="-1">Select Company </option>
              <option value="5">MSI</option>
              <option value="3">Chuwi</option>
              <option value="7">HP</option>
              <option value="6">Microsoft</option>
              <option value="1">Apple</option>
              <option value="8">Lenovo</option>
              <option value="2">Asus</option>
              <option value="0">Acer</option>
              <option value="4">Dell</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="screenresolution">Screen Resolution:</label></td>
          <td>
            <select id="screen-resolution" v-model="laptopData.ScreenResolution" class="color">
              <option value="-1">Select Screen Resolution</option>
              <option value="2">2560x1600</option>
              <option value="0">1920x1080</option>
              <option value="1">2560x1440</option>
              <option value="3">3840x2160</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="cpu">Cpu:</label></td>
          <td>
            <select id="screen-resolution" v-model="laptopData.Cpu" class="color">
              <option value="-1">Select Cpu</option>
              <option value="6">Intel Core i7</option>
              <option value="5">Intel Core i5</option>
              <option value="9">Intel Xeon E3-1505M</option>
              <option value="3">Intel Atom x5-Z8550</option>
              <option value="4">Intel Celeron Dual Core 3855U</option>
              <option value="7">Intel Core i9</option>
              <option value="0">AMD A9-Series 9420</option>
              <option value="1">AMD Ryzen 5</option>
              <option value="2">AMD Ryzen 7</option>
              <option value="8">Intel Pentium Quad Core N4200</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="ram">Ram:</label></td>
          <td>
            <select id="ram" v-model="laptopData.Ram" class="color">
              <option value="-1">Select Ram</option>
              <option value="0">4GB</option>
              <option value="3">8GB</option>
              <option value="1">12GB</option>
              <option value="2">16GB</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="gpu">Gpu:</label></td>
          <td>
            <select id="gpu" v-model="laptopData.Gpu" class="color">
              <option value="-1">Select Gpu</option>
              <option value="1">Intel Iris Xe Graphics</option>
              <option value="0">AMD Radeon RX 5600M</option>
              <option value="2">NVIDIA GeForce GTX 1650</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="opsys">Operation System:</label></td>
          <td>
            <select id="opsys" v-model="laptopData.OpSys" class="color">
              <option value="-1">Select Operation System</option>
              <option value="0">SSD</option>
              <option value="1">No OS</option>
              <option value="2">Windows 10</option>
              <option value="4">macOS</option>
              <option value="3">Windows 11</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="memorytype">Memory Type:</label></td>
          <td>
            <select id="memorytype" v-model="laptopData.MemoryType" class="color">
              <option value="-1">Select Memory Type</option>
              <option value="6">SSD</option>
              <option value="4">PCIe SSD</option>
              <option value="2">HDD</option>
              <option value="3">NVMe SSD</option>
              <option value="1">Fusion Drive</option>
              <option value="0">Fusion Storage</option>
              <option value="8">eMMC</option>
              <option value="5">SATA SSD</option>
              <option value="7">SSHD</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="touchscreen">Touch Screen:</label></td>

          <div class="input-field">
            <input type="radio" id="yes" name="touchscreen" value="1" v-model="laptopData.TouchScreen">
            <label for="yes" class="ml-2">Yes</label>
            <input type="radio" id="no" name="touchscreen" value="0" v-model="laptopData.TouchScreen" class="ml-10">
            <label for="no" class="ml-2">No</label>
          </div>
          <td>

          </td>
        </tr>
        <tr>
          <td colspan="2" class="centered">
            <button class="color_btn price-text" type="submit">▶ Predict Laptop Price ◀</button>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="centered pricepredict-text">
            <p>{{ resMessage?.toLocaleString() }}</p>
          </td>
        </tr>
      </table>
    </form>
    <p v-if="errorMessage" class="error pricepredict-text">{{ errorMessage }}</p>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'


const errorMessage = ref<string>('')
const resMessage = ref<number>()

const laptopData = ref({
  CompanyName: -1,
  ScreenResolution: -1,
  Cpu: -1,
  Ram: -1,
  Gpu: -1,
  OpSys: -1,
  TouchScreen: -1,
  MemoryType: -1
})

const predictLaptopPrice = async () => {
  try {
    const response = await axios.post('http://localhost:8000/laptop/price/', laptopData.value)

    console.log('Predicted laptop price:', response.data)
    resMessage.value = response.data
    errorMessage.value = ''
  } catch (error) {
    console.error('Failed to predict laptop price:', error)
    errorMessage.value = 'Failed to predict laptop price'
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Scribble&family=Workbench&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&family=Rubik+Scribble&family=Workbench&display=swap');

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #203052;
}

@keyframes blink {
  0% {
    opacity: 1;
    color: #ffa0d4; /* สีเริ่มต้น */
  }
  50% {
    opacity: 0;
    color: #ffa0d4; /* สีที่เปลี่ยนไป */
  }
  100% {
    opacity: 1;
    color: #ffa0d4; /* สีกลับมาเดิม */
  }
}

.header-text {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 80px;
  color: #8ce8ff;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

.price-text {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 40px;
  color: #ffa0d4;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
  animation: blink 0.8s infinite; /* เปลี่ยนความเร็วการกระพิบ */
}

.pricepredict-text {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 40px;
  color: #ffa0d4;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

.form {
  position: relative;
  z-index: 1;
  background-color: #203052;
  color: #8ce8ff;
  font-size: 30px;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.error {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffa0d4;
}

.color {
  background-color: #ffffff;
  border: 3px solid #000000;
}

.color_btn {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 40px;
  color: #ffa0d4;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
  background-color:  #203052;
  color:  #ffa0d4;;
  border: 1px solid #48a7ff;
}

.centered {
  padding-top: 10px;
  text-align: center;
}
</style>
